{% extends 'search/_layout/base.html' %}
{% load staticfiles %}

{% block title %}Order page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock css %}
{% block js %}{% endblock js %}

{% block content %}
<div class="order-block">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>
</div>
{% endblock content %}