{% extends 'search/_layout/base.html' %}
{% load staticfiles %}

{% block title %}Main page{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}">
{% endblock css %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--
    <script src="{% static 'search/js/script.js' %}"></script>
    -->
    <script src="http://malsup.github.com/jquery.form.js"></script> 
{% endblock js %}

{% block content %}
<div class="search-block">
    <form id="post-form" method="post" action="/search/hello/">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
</div>
<!-- Response -->
<div id="resp" class="resp-block"></div>

<script>
$(document).ready(function() {
    
    $('#post-form').ajaxForm(function(data) {
        //event.preventDefault();
        console.log("form submitted!");
        $('#resp').html(data)
        //$('#resp').html(data);

    });

    $( "#post-form" ).submit(function( event ) {
        var txt = $( "#search-text" ).val();
        console.log(txt);
        //validate field
    });

});
</script>


{% endblock content %}