{% extends 'search/_layout/base.html' %}
{% load staticfiles %}

{% block title %}Order page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock css %}
{% block js %}{% endblock js %}

{% block content %}
<div class="order-block">
    <h4>Order Song: {{ song.artist }} - {{ song }}</h4>
    <form id="order-form" method="post" action="" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}