.search-block {
    margin: 100px auto 10px;
    width: 500px;
    //border: 1px solid #ccc;
    padding: 20px 10px 10px;
}

.resp-block {
    margin: 10px auto 10px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
}

.order-block {
    margin: 10px auto 10px;
    width: 500px;
    padding: 20px;
}

.order-center {
    text-align: center;
    font-weight: bold;
}

.order-title {
    text-align: center;
}

.song-list-block {
    margin: 10px auto 10px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
}

.thanks-block {
    margin: 10px auto 10px;
    width: 300px;
    text-align: center;
    border:1px solid #ccc;
    padding: 10px;
}
