.search-block {
    margin: 100px auto 10px;
    width: 500px;
    border:1px solid #ccc;
    padding: 10px;
}
.resp-block {
    margin: 10px auto 10px;
    width: 500px;
    border:1px solid #ccc;
    padding: 10px;
}